<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BOCWelcomeLetterGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BOCWelcomeLetterGenerator.Properties.Settings>
            <setting name="IncludeEmail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenFileAfterGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultBranchIndex" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SimpleLetterGreatingEng" serializeAs="String">
                <value>Thank you for choosing Bank of China. Please find your account information enclosed in this letter.</value>
            </setting>
            <setting name="SimpleLetterGreatingChn" serializeAs="String">
                <value>感谢您选择中国银行，在此列出您持有账户的汇入汇款信息，烦请妥善保管。</value>
            </setting>
            <setting name="SimpleLetterBodyLine1Eng" serializeAs="String">
                <value />
            </setting>
            <setting name="SimpleLetterBodyLine1Chn" serializeAs="String">
                <value />
            </setting>
            <setting name="SimpleLetterBodyLine2Eng" serializeAs="String">
                <value />
            </setting>
            <setting name="SimpleLetterBodyLine2Chn" serializeAs="String">
                <value />
            </setting>
        </BOCWelcomeLetterGenerator.Properties.Settings>
    </userSettings>
</configuration>